/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  /* overflow: hidden; */
}


/* .bg-container {
  position: relative;
}
.bg-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100vw; 
  height: 100vh;
  background-image: url(/img/booksBg.jpg);
  filter:brightness(50%);
}
.bg {
  /* This will make it stack on top of the ::before 
  position: relative;
} 
*/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  color: white;
}

input {
  padding: .8rem;
}
button {
  padding: .8rem 1rem;
  background-color:burlywood;
  border-radius: .5rem;
  border-color: white;
  color: white;
}

button:hover {
  background-color: brown;
  cursor: pointer;
}

/*Books container */
#book-grid {
  display: flex;
  flex-wrap: wrap;
}

/*Individual book containers */
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11vw;
  height: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
  background-color: white;
}

.book-cover {
  width: 11vw;
  max-width: 100%;
  height: 75%;
  max-height:  300px;
}

.book-title {
  font-weight: bold;
  margin: 10px 0;
}

.book-author {
  font-style: italic;
  margin-bottom: 10px;
}

.book-isbn {
  font-size: small;
}